* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* reset */

body {
    font-family: sans-serif;
}

@font-face {
    font-family: "Whitney";
    src:
        url("../whitney-font/whitney.ttf"),
        url("../whitney-font/whitney-bold.otf") format("opentype"),
        url("../whitney-font/whitney-medium.otf") format("woff");
}


/* i container hanno una dimensione fissa,  centrati orizzontalmente */

.container {
    /* test */

    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

}

.container-small {
    /* test */

    max-width: 800px;

    margin-left: auto;
    margin-right: auto;

    text-align: center;
    line-height: 30px;
}

header .container-small h1 {
    font-size: 44px;
    margin-bottom: 40px;
}

header,
section {
    padding: 40px 20px;
}


.bg-gray {
    background-color: #f6f6f6;
}




/* sezione navbar */
nav {
    background-color: #255ee9;
    /* test */
    padding: 10px;
}

nav .container>* {

    padding: 10px;
}

nav .container {

    display: flex;
    justify-content: center;
    align-items: center;
}

nav .logo {
    width: 100px;
}


nav .nav-links {
    flex-grow: 1;
}

nav .nav-links ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 12px;
}

nav .nav-links ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 13px;
    padding: 0px 15px
}


nav .login {
    width: 100px;
    text-align: right;
}

nav .login button {
    background-color: white;
    padding: 10px 15px;
    border-radius: 25px;
    font-size: 13px;
    font-weight: bold;
    border: none;
}

/* fine sezione navbar */



/* sezione hero */
#hero {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 600px;
}

#hero .container-small {
    margin-top: 120px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: white;
    font-weight: bold;
}

.hero-title {
    margin-bottom: 40px;
}

#download-mac {
    background-color: white;
    border: none;
    padding: 15px 25px;
    border-radius: 25px;
    font-weight: bold;
    font-size: 14px;
    margin-right: 20px;
}

#open-browser {
    background-color: #23272a;
    border: none;
    padding: 15px 25px;
    border-radius: 25px;
    font-weight: bold;
    color: white;
}


/* fine sezione hero */


/* sezioni grigie */

.row {
    display: flex;
}

.column-big {

    /* width: 60%; */
    flex-grow: 1;
}

.column-small h2 {
    font-size: 34px;
    margin-bottom: 20px;
    line-height: 45px;
}

.column-small {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    line-height: 25px;
    font-weight: bold;

    /* width: 40%; */
    width: 400px;
}


.big-content {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    line-height: 25px;
    font-weight: bold;
    text-align: center;
}

.container .big-content h2 {
    font-size: 34px;
    margin-bottom: 35px;
}

.star-effect {
    background-image: url(../img/stars.svg);
    background-size: cover;
}

.star-effect h3 {
    text-align: center;
    margin-bottom: 35px;
}

.container .big-content button {
    padding: 10px 25px;
    border: none;
    background-color: #8ea1e1;
    border-radius: 25px;

    color: white;
    font-weight: bold;
}

/* fine sezioni grigie */

.wave-form {
    height: 80px;
    width: 100%;
    filter: invert(100%) sepia(30%) saturate(225%) hue-rotate(241deg) brightness(113%) contrast(93%);
    display: block;
}

.wave-form2 {
    height: 80px;
    width: 100%;
    filter: invert(100%) sepia(30%) saturate(225%) hue-rotate(241deg) brightness(113%) contrast(93%);
    display: block;
    transform: scaleY(-1)
}

/* sezione footer */

footer {
    background-color: #23272a;
    /* test */

    padding-top: 8px;
}


footer .container>* {}


footer #footer-top {
    margin-bottom: 30px;
    border-bottom: 2px solid #2c3340;
}

footer #footer-top .footer-links {
    height: 400px;
    width: 250px;
}

footer #footer-top .footer-column {
    flex-grow: 1;
}

footer #footer-bottom {

    margin-top: 16px;
}

footer #footer-bottom {
    justify-content: space-between;

    padding: 16px 0;
}

footer #footer-bottom>* {


    padding: 4px 8px;
}

.flag-language {
    font-size: 14px;
    font-weight: bold;
    color: white;
}

.ita-language {
    width: 20px;
    height: 13px;
}

.social-icons {
    margin-top: 20px;
    color: white;
    font-size: 18px;
}

.social-icons>* {
    margin-right: 20px;
}

#footer-top .footer-links h3 {
    padding-top: 50px;
    font-size: 30px;
    margin-bottom: 20px;
    color: #7289da;
}

.footer-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-column h4 {
    padding-top: 50px;
    font-size: 14px;
    color: #7289db;
}

.footer-column ul li {
    list-style-type: none;
    margin-bottom: 10px;
}

.footer-column ul li a {
    text-decoration: none;
    color: white;
}

.footer-column ul>li {
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.button button {
    background-color: #8ea1e1;
    padding: 10px 15px;
    border: none;
    border-radius: 25px;
    color: white;
    font-weight: bold;
}

/* fine sezione footer */